.reincar-nation-wrap{
  padding-top: 100px;
  .reincar-main{
    height: 400px;
    background-size:cover!important;
    width: 400px;
    margin:0 auto;
    .reincar-box{
      height: 400px;
      background-size:cover!important;
      width: 400px;
    }
  }
  .btn-box{
    text-align: center;
    padding-top: 50px;
    .ant-btn{
      height: 46px;
      width: 300px;

    }
  }

  .dong {
    animation: hide-item 4s ease-in forwards;
  }

  @keyframes hide-item{
    0% {
      transform:rotate(0deg)
    }
  
  
    100% {
      transform:rotate(36000deg)
    }
  }
}